<div class="main">
  <h6><%= current_user.name %>さんがいいねした写真一覧</h6>
  <div class="card-container">
    <% @favorite_pictures.each do |picture| %>
      <%= link_to picture_path(picture.id), class:"card-item" do %>
        <%= image_tag(picture.image.url,class:"square-image") if picture.image && picture.image.url %>
        <div class="card-img-overlay disappear">
          <div class="like-status">
            <table>
              <tbody>
                <tr>
                  <td class="align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-heart-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                  <%= picture.favorites.count %>
                  </td>
                </tr>
              </tbody>
           </table>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
