<div class="">
  <% @users.each do |user| %>
  <div class="">
    <% if user.avatar %>
    <%= image_tag user.avatar.url %>
    <% end %>
  </div>
  <div class="">
    <%= user.name %>
  </div>
  <% end %>
</div>
