<div class="card card-center" style="max-width:500px;">
  <% @users.each do |user| %>
  <div class="card-body container">
    <div class="row">
      <div class="col-4">
        <% if user.avatar.url.nil? %>
         <%= link_to image_tag('f_f_event_75_s128_f_event_75_1bg.png',class:"avatar-md"),user_path(user.id) %>
        <% else %>
        <%= link_to image_tag(user.avatar.url, class:"avatar-md"),user_path(user.id) %>
        <% end %>
      </div>
      <div class="col-8">
        <div class="mb-2">
          <h5><%= user.name %><h5>
        </div>
        <div class="mb-2">
          <p><%= user.greeting %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
