  <div class="card-container">
    <% @pictures.each do |picture| %>
      <%= link_to picture_path(picture.id), class:"card-item" do %>
        <%= image_tag(picture.image.url,class:"square-image") if picture.image && picture.image.url %>
        <div class="card-img-overlay disappear">
          <p>テスト</p>
        </div>
      <% end %>
    <% end %>
  </div>
