body{
  background-color: #fafafa;
}

h2{
  line-height: 1;
}

.card-container {
  display:flex;
  flex-wrap: wrap;
}

.card-item {
  position:relative;
  width: 33.3%;
  padding-bottom: 33.3%;
  border: solid 2px #FFF;
  box-sizing: border-box;
}

.card-item img {
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-item img:hover {
  filter: brightness(0.5);
}

.disappear {
  display:none;
}

header{
  z-index: 10;
  background: #ffffff;
  border-bottom: solid 1px #DBDBDB;
}

.main{
  z-index: 5;
  padding:30px;
}

.card-center{
  margin:1.5rem auto;
}

.avatar-lg {
  width:150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-md {
  width:100px;
  height:100px;
  border-radius:50%;
  object-fit: cover;
}

.avatar-sm {
  width:30px;
  height:30px;
  border-radius:50%;
  object-fit: cover;
}

.svg-icon{
  width:25px;
}

.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

/* .btn-height{
  height:20px ;
} */
